<%- include("../partials/head") %>

<body>
    <h1>Add New Car</h1>
    <form action="/cars" method="POST">
        <label for="">Nama</label>
        <input type="text" name="name" placeholder="buku gambar"><br>
        <label for="">Sewa Per Hari</label>
        <input type="text" name="price" placeholder="10000"><br>
        <label for="">Ukuran</label>
        <input type="text" name="size" placeholder="small"><br>
        <label for="">Gambar</label>
        <input type="file" name="imgUrl" placeholder="10"><br>
        <button type="submit">Save</button>
    </form>
</body>
</html>